### Question 1: What proportion of trees are in good, fair, or poor health according to the ‘health’ variable?

In [9]:
import pandas as pd 
import numpy as np
import datetime

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objs as go

In [10]:
url = 'https://data.cityofnewyork.us/resource/nwxe-4ae8.json'
trees = pd.read_json(url)
trees.head(5)

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council_district,census_tract,bin,bbl
0,180683,348711,2015-08-27,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4073900,New York,40.723092,-73.844215,1027431.148,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,2015-09-03,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300,New York,40.794111,-73.818679,1034455.701,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,2015-09-05,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.717581,-73.936608,1001822.831,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,2015-09-05,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.713537,-73.934456,1002420.358,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,2015-08-30,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500,New York,40.666778,-73.975979,990913.775,182202.4260,39.0,165.0,3025654.0,3.010850e+09

In [11]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Bronx\'' +\
        '&$group=health').replace(' ', '%20')
soql_url_bx = pd.read_json(soql_url)
soql_url_bx
soql_url_bx.dropna()

   count_tree_id health
1          66603   Good
2          10887   Fair
3           3095   Poor

In [12]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Brooklyn\'' +\
        '&$group=health').replace(' ', '%20')
soql_url_bk = pd.read_json(soql_url)
soql_url_bk.dropna()

   count_tree_id health
1         138212   Good
2          25073   Fair
3           6459   Poor

In [13]:
soql_url_si = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Staten Island\'' +\
        '&$group=health').replace(' ', '%20')
soql_url_si = pd.read_json(soql_url)
soql_url_si.dropna()

   count_tree_id health
1         138212   Good
2          25073   Fair
3           6459   Poor

In [14]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Queens\'' +\
        '&$group=health').replace(' ', '%20')
soql_url_qn = pd.read_json(soql_url)
soql_url_qn.dropna()

  health  count_tree_id
0   Fair          34549
1   Good         194008
2   Poor           9417

In [15]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Manhattan\'' +\
        '&$group=health').replace(' ', '%20')
soql_url_mn = pd.read_json(soql_url)
soql_url_mn.dropna()

   count_tree_id health
1          47358   Good
2          11460   Fair
3           3609   Poor

In [ ]:
app = dash.Dash()

colors = {'background':'D3D3D3', 'text':'#000000'}

app.layout = html.Div(children=[

    dcc.Graph(id='Graph',
             figure={
            'data': [
                {'x': soql_url_bx['health'], 'y':soql_url_bx['count_tree_id'], 'type': 'bar', 'name': u'Bronx'},
                {'x': soql_url_bk['health'], 'y':soql_url_bk['count_tree_id'], 'type': 'bar', 'name': u'Brooklyn'},
                {'x': soql_url_mn['health'], 'y':soql_url_mn['count_tree_id'], 'type': 'bar', 'name': u'Manhattan'},
                {'x': soql_url_si['health'], 'y':soql_url_si['count_tree_id'], 'type': 'bar', 'name': u'Staten Island'},
                {'x': soql_url_qn['health'], 'y':soql_url_qn['count_tree_id'], 'type': 'bar', 'name': u'Queens'}
            ],
            'layout': {
                'title': 'NYC Tree Health Condition by Borough',
                'plot_bgcolor':colors['background'],
                'paper_bgcolor':colors['background'],
                'font':{'color':colors['text']}
                
            }
        }
    )
])


if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-component-suites/dash_renderer/react@16.8.6.min.js?v=1.1.2&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-component-suites/dash_renderer/prop-types@15.7.2.min.js?v=1.1.2&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-component-suites/dash_renderer/react-dom@16.8.6.min.js?v=1.1.2&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-component-suites/dash_core_components/highlight.pack.js?v=1.3.1&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-component-suites/dash_html_components/dash_html_components.min.js?v=1.0.1&m=1572224844 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-component-suites/dash_renderer/dash_renderer.min.js?v=1.1.2&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-component-suites/dash_core_components/dash_core_components.min.js?v=1.3.1&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-component-suites/dash_core_components/plotly-1.50.1.min.js?v=1.3.1&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 22:50:25] "GET /_dash-layout HTTP/1.1" 200 -